<div class="page-header">
	<h1><%= @pod.title %></h1>
	<%= link_to 'Edit', edit_admin_pod_path, :class=>'btn btn-primary' %>
</div><!-- page-header -->
<p>
	<%= @pod.desc %>
</p>
<%= @pod.hours_of_operation %>
<%= @pod.length_of_operation %>
<%= @pod.storage_capacity %>
<%= @pod.percent_full %>

<hr />

<h3>Physical Goods</h3>
<%= link_to 'New Good', new_admin_pod_good %>