<div id="map_wrapper" class="tallMap">
	<%= gmaps(:map_options => { "auto_zoom" => false, "zoom" => 14},
		:markers     => { "data" => @map },
		:kml => { :data => '[{url: "http://aequ.com/kml/mooredamage.kml", options: {clickable: false }},{url: "http://aequ.com/kml/workzones.kml", options: {clickable: false }}]'}
	)
	%>
</div><!-- map_wrapper -->
<div id="needs_wrapper">
	<div id="needs_toolbar">
		<div class="table_filter">
			<input type="text" id="needs_search" aria-controls="needs_table" placeholder="search">
		</div>
		<a href="#" id="showHideMap"><i class="icon-sort"></i><span>&nbsp;&nbsp;MAP</span></a>
		<%= link_to raw('<i class="icon-plus"></i><span>&nbsp;&nbsp;Add a Need</span>'), new_need_path, :class => "add-new-wo" %>
	</div>
		<table id="needs_table" class="table">
		  <thead>
			  <tr>
					<th>Added</th>
					<th>Z</th>
					<th>Contact</th>
					<th>W</th>
					<th>S</th>
			  </tr>
		  </thead>
		  <tbody>
				<% @needs.each do |need| %>
			  <tr onclick="window.location = '<%= need_path(need) %>';" class="<%= need.wo_status ? need.wo_status.style : '' %>">
					<td><%= time_ago_in_words(need.created_at) %> ago</td>
			    <td><%= need.zone ? need.zone.zone : "?" %></td>
			    <td>
						<address>
							<strong><%= need.affected.contact.address.address %></strong><br/>
							<%= need.affected.contact.name %><br/>
							<%= need.affected.contact.phone %><br/>
							<%= need.affected.contact.email %>
						</address>	
					</td>
			    <td><%= need.waiver ? "Y" : "" %></td>
			    <td><%= need.wo_status ? truncate(need.wo_status.status, :length => 1, :omission => "") : "" %></td>
			  </tr>
				<% end %>
			</tbody>
		</table>
</div> <!--END needs_wrapper -->
