<%= simple_form_for @waiver, :url => work_order_waiver_path(@work_order.id), :html => {:class => 'form-inline' } do |f| %>
<article>
	<h1>Release Form</h1>

	<p>
		I <span class="first_name"><%= @work_order.affected.contact.first_name %></span> <span class="last_name"><%= @work_order.affected.contact.last_name %></span> am the owner of the property at <span class="address"><%= @work_order.affected.contact.address.address %></span>
	</p>

	<%= render :partial => 'disclaimer' %>

	<div class="special_instructions"><%= f.input :special_instructions %></div>
	<p>
		<%= Date.today %><br/>
		Signature
	</p>
	<div class="sigPad">
	  <a href="#clear" class="btn btn-tiny clearButton">Clear</a>
	  <div class="sig sigWrapper">
	    <div class="typed"></div>
	    <canvas class="pad" width="500px" height="125px"></canvas>
	<input type="hidden" name="waiver[signature]" class="signature">
	  </div>
	</div>
	<p><br/></p>
</article>


<footer>
	  <%= f.error_notification %>
	<div class="form-actions">
		<%= link_to 'Back', @work_order, :class => "btn btn-inverse" %>
		<a href="#" class="btn btn-danger" data-toggle="collapse" data-target="#demo">Edit Homeowner Info</a>
	    <%= f.button :submit, :class => "btn-primary" %>
	 </div>
	
	
	<div id="demo" class="collapse">
		<div class="form-inputs">
		<%= f.simple_fields_for :contact do |c| %>
			<%= c.input :first_name, :input_html => { :value => @work_order.affected.contact.first_name } %>
			<%= c.input :last_name, :input_html => { :value => @work_order.affected.contact.last_name } %>
			<%= c.input :email, :input_html => { :value => @work_order.affected.contact.email }  %>
			<%= c.input :phone, :input_html => { :value => @work_order.affected.contact.phone } %>
			<%= c.simple_fields_for :address do |a| %>
			<div class="control-group">
				<label>Address</label>
				<div class="controls">
				  <%= a.input_field :address, :value => @work_order.affected.contact.address.address, :class => "location" %>
				</div>
				<%= a.input :latitude, :as => :hidden %>
				  <%= a.input :longitude, :as => :hidden %>
			</div>
			<% end %>
		<% end %>
		</div>
	</div>
</footer>
<% end %>
<script type="text/javascript" charset="utf-8">
$(function() {
	$('#waiver_contact_attributes_first_name').on('keyup', function(){ $('span.first_name').html($('#waiver_contact_attributes_first_name').val()) })
	$('#waiver_contact_attributes_last_name').on('keyup', function(){ $('span.last_name').html($('#waiver_contact_attributes_last_name').val()) })
	$('input.location').on('keyup', function(){ $('span.address').html($('input.location').val()) })
});
	
</script>

<script type="text/javascript" charset="utf-8">
	$(function() {
		$('.sigPad').signaturePad({
			drawOnly : 'true',
			penColour : "#333",
			lineColour : '#ccc',
			lineTop : 100,
			output : ".signature",
			clear : ".clearButton"
			
		});
	});
</script>