<h1><%= @good.title %></h1>
<p><%= @good.desc ? @good.desc : "None" %></p>
<ul>
	<li><strong>Available for Pick up?</strong> <%= @good.pick_up ? "Yes" : "No" %></li>
	<li><strong>Accepting Deliveries?</strong> <%= @good.drop_off ? "Yes" : "No" %></li>
	<li><strong>Inventory Status:</strong> <%= @good.status %></li>
</ul>
<p><%= link_to "Edit", edit_good_path(@good), :class => "btn" %></p>
