<div id="map_wrapper" class="map-large">
	<%= gmaps(:map_options => {},
		:markers     => { "data" => @map },
		:kml => { :data => '[{url: "http://aequ.com/kml/mooredamage.kml", options: {clickable: false }},{url: "http://aequ.com/kml/workzones.kml", options: {clickable: false }}]'}
	)
	%>	
</div><!-- map_wrapper -->
<div id="needs_wrapper">
	<div id="needs_toolbar">
		<div class="table_filter">
			<input type="text" id="needs_search" aria-controls="needs_table" placeholder="search">
		</div>
		<a href="#" id="toggle_map"><i class="icon-map-marker"></i>&nbsp;&nbsp;VIEW MAP</a>
		<%= link_to raw('Add a Need'), new_work_order_path, :class => "add-new-wo" %>
	</div>
	<div id="main">		
		<table id="needs_table" class="table">
		  <thead>
			  <tr>
					<th>Date</th>
					<th>Zone</th>
					<th>Contact</th>
					<th>Waiver</th>
					<th>Status</th>
			  </tr>
		  </thead>
		  <tbody>
				<% @work_orders.each do |work_order| %>
			  <tr class="<%= work_order.wo_status ? work_order.wo_status.style : "" %>">
					<td><%= work_order.created_at.strftime('%m/%d') %></td>
			    <td><%= work_order.zone ? work_order.zone.zone : "?" %></td>
			    <td>
						<strong><%= link_to work_order.affected.contact.address.address, work_order %></strong><br/>
						<%= work_order.affected.contact.name %><br/>
						<%= work_order.affected.contact.phone %><br/>
						<%= work_order.affected.contact.email %>
					</td>
			    <td><%= work_order.waiver ? "Y" : "" %></td>
			    <td><%= work_order.wo_status ? work_order.wo_status.status : "" %></td>
			  </tr>
				<% end %>
			</tbody>
		</table>
	</div><!-- main -->
</div> <!--END needs_wrapper -->
