<%= gmaps4rails(@map) %>
<div id="map_space"></div>

<p id="notice"><%= notice %></p>
<h2>
  <%= @work_order.affected.contact.address.address %>
  <span class="badge badge-important">Zone <%= @work_order.zone ? @work_order.zone.zone : "?"  %></span>
</h2>

<p>
  <b>Name:</b>
  <%= @work_order.affected.contact.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @work_order.affected.contact.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @work_order.affected.contact.email %>
</p>

<p>
  <b>Waiver:</b>
  <%= @work_order.waiver_id %>
</p>

<p>
  <b>Wo status:</b>
  <%= @work_order.wo_status_id %>
</p>


<%= link_to 'Edit', edit_work_order_path(@work_order) %> |
<%= link_to 'Back', work_orders_path %>
