<%= gmaps4rails(@map) %>
<h1><%= @work_order.affected.contact.address.address %></h1>
<ul class="nav">
	<li class="pull-right"><%= link_to raw('<i class="icon-print"></i>'), root_path, :class => "btn" %></li>
	<% if @work_order.waiver %>
	<li class="pull-right"><%= link_to 'View Waiver', work_order_waiver_path(@work_order), :class => "btn" %></li>
	<% else %>
	<li class="pull-right"><%= link_to 'Create Waiver', new_work_order_waiver_path(@work_order), :class => "btn" %></li>
	<% end %>
	<li class="pull-right"><%= link_to 'Edit', edit_work_order_path(@work_order), :class => "btn"  %></li>
</ul>
<span class="badge badge-important">Zone <%= @work_order.zone ? @work_order.zone.zone : "?"  %></span>
<span class="badge <%= @work_order.wo_status ? "badge-"+@work_order.wo_status.style : ""  %>"><%= @work_order.wo_status ? @work_order.wo_status.status : "?"  %></span>

<hr/>

<p>
  <b><%= @work_order.affected.contact.name %></b><br/>
  <%= @work_order.affected.contact.phone %><br/>
  <%= @work_order.affected.contact.email %>
</p>

<hr/>

<h4>Work Requested</h4>
<p>
	<%= @work_order.work_requested || "none" %>
</p>

<h4>Other Needs</h4>
<p>
	<%= @work_order.other_needs || "none" %>
</p>
