<%= link_to image_tag("pairs-logo.png", :class=>"logo"), root_path, :class => 'brand' %>
<button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-reorder"></span></button>
<div class="nav-collapse collapse" style="height: 0px; ">
	<ul class="nav pull-right">
		<% if current_user %>
	  <li class='<%= active_class("needs") %>'><%= link_to('Needs', needs_url) %></li>
		<li class='<%= active_class("resources") %>'><%= link_to('Resources', needs_url) %></li>
		<li class='<%= active_class("volunteers") %>'><%= link_to('Volunteers', needs_url) %></li>
		<!-- Need if admin tag here -->
		<li class='<%= active_class("dashboard") %>'><%= link_to('Admin', admin_dashboard_url) %></li>
		<!-- Need if admin tag here -->
		<li class='<%= active_class("profile") %>'><%= link_to current_user.username, my_account_profile_path %></li>
		<% else %>
		<li><%= link_to raw('<i class="icon-twitter"></i> Login with Twitter'), auth_at_provider_path(:provider => :twitter) %></li>
		<% end %>
	</ul>
</div><!-- nav-collapse -->