<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield(:head) %>
	<link rel="stylesheet" href="http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.css"/>
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.ie.css"/>
	<![endif]-->
	<script src="http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.js"></script>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="<%= controller_name %>">
	<header class="navbar navbar-fixed-top">
		<nav class="navbar-inner">
		  <div class="container">
		    <%= render 'layouts/navigation' %>
		  </div>
		</nav>
	</header>
	<div id="main" role="main" class="main">
		<% if controller_path.split('/').first == 'admin' %>
		<%= render :partial => 'layouts/dashboard_navigation' %>

	    	<div class="span<%= controller_path.split('/').first == 'admin' ? '9' : '12' %>">
	      <%= render 'layouts/messages' %>
	      <%= yield %>
	    	</div><!-- .span -->
	    </div><!-- .row -->
		</div><!-- #adminWrapper .container -->
		<% else %>
			<%= render 'layouts/messages' %>
			<%= yield %>
		<% end %>
	</div><!-- main -->
	<%= yield :scripts %>
</body>
</html>